

/**********************************************头部**********************************************/
.lxtop{
    width: 100%;
    position: absolute;
    z-index: 9999;
}
.top_logo{
    padding: 0!important;
}
.lxtop .nav{
    font-size: 14px;
    color: #ffffff!important;
    padding-left: 30%;
    padding-top: 15px!important;
}
.lxtop .nav a{
    font-size: 14px;
    color: #ffffff!important;


}
/*---------------------------------------------头部---------------------------------------------*/





.index_main{
    padding: 0;
}


.index_brand{
    width: 100%;
    height: 80px;
    text-align: center;
    background: #626262;
    columns: 5;
    padding: 0 15%  ;
}

.index_brand img{

    display: block;
    float: left;
    margin-top: 10%;


}

.index_sketch{
    position: relative;
    background: url("../images/index-02.jpg") no-repeat center;
    height: 892px;
}

.index_sketch div{
    position: absolute;
    height: 100%;
    width: 100%;


}
.index_sketch .title{
    padding-top: 5%;
    text-align: center;
    margin: auto;
    font-size: 42px;
}
.index_sketch .en_title{
    text-align: center;
    margin: auto;
    font-size: 16px;
}
.index_sketch .contnet{
    padding-top: 2%;
    max-width: 35%;
    text-align: center;
    margin: auto;
    font-size: 14px;
}

.index_about{
    position: relative;
    height: 476px;
    background: url("../images/index_about_img_26.jpg") no-repeat center;
}
.index_about div{
    position: absolute;
    height: 100%;
    width: 100%;
    color: #ffffff;


}
.index_about .title{
    padding-top: 3.5%;
    text-align: center;
    margin: auto;
    font-size: 42px;
    color: #ffffff;
}
.index_about .en_title{
    text-align: center;
    padding-top: .5%;
    font-size: 16px;
    color: #ffffff;
}
.index_about .contnet{
    padding-top: 2%;
    max-width: 55%;
    text-align: center;
    margin: auto;
    font-size: 14px;
    color: #ffffff;
    line-height: 30px;
}
.index_about .more{

    width: 128px;
    height: 23px;
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 21px;
    color: #ffffff;
    font-size: 14px;
    margin:3.5% auto 0 auto;

}
.index_about .more:hover{
    border: 1px solid #00da90;
    color: #00da90;
    cursor: pointer;
}

.index_new{
    padding: 96px 0;
    background: #fbfbfb;

}
.index_new .col-xs-12{
    padding: 0;
}
.index_new .col-md-6{
    padding: 0;
}
.index_new .title{
    font-size: 42px;
    color: #333333;
}
.index_new .en_title{
    font-size: 16px;
    color: #666666;
}
.index_new .new_content{
    margin-top: 38px;
}
.index_new .new_list{

    position: relative;
    width: 100%;
    height: 100%;
}
.index_new img{
    width: 100%;
}
.index_new .day{
    position: absolute;
    color: #ffffff;
    font-size: 40px;
    top: 5%;
    left: 4%;
}
.index_new .titles{
    font-size: 16px;
    color: #5c5c5c;

}

.index_new .hr{
    width: 30px;
    height: 3px;
    background: #00da90;
}
.index_new .hr{
    width: 30px;
    height: 3px;
    background: #3d3d3d;
}

.index_new .contents{
    padding-top: 2.5%;
    font-size: 14px;
    color: #878787;
    line-height: 24px;
    max-height: 84px;
}
.index_new .more{
    font-size: 14px;
    text-align: right;
    padding-right: 3%;
    cursor: pointer;
    margin-top: 3%;
    color: #3d3d3d;
}

.index_new .more:hover{
    color: #00da90;
}
.index_new .mores{
    width: 128px;
    height: 23px;
    border: 1px solid #666666;
    text-align: center;
    line-height: 21px;
    color: #666666;
    font-size: 14px;
    margin: 3.5% auto 0 auto;
}
.index_new .mores:hover{
    border: 1px solid #00da90;
    color: #00da90;
    cursor: pointer;
}
.navbar-nav>li>a:hover{
    background-color: #00da90;
}
.navbar-nav>li>a:visited {
    background-color: #00da90;
}
.navbar-nav>li>a:active  {
    background-color: #00da90;
}
.index_new .new_gup{
    margin-bottom: 34px;
}


.index_new .col-md-6:nth-of-type(even){

    background: #ececec;
    padding: 3.2% 46px 18px 50px;

}
.index_new .col-md-6:nth-of-type(odd){
    padding-right: 0;

}
s
/*.index_new .col-md-6:nth-of-type(3){
    float: right;
    padding-left: 0;
    margin-bottom: 34px;
}
.index_new .col-md-6:nth-of-type(4){
    background: #ececec;
    padding: 3.2% 46px 18px 50px;
    margin-bottom: 34px;
    float: right;
}*/

.index_product{
    margin-top: 80px;
    border-bottom: 3px solid #00da90;
}

.index_product .title{
    text-align: center;
    font-size: 42px;
    color: #333333;
}
.index_product .en_title{
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.index_product .row:last-child{
    margin-top: 65px;
}

.pro_gup:hover{
    cursor: pointer;
}
.index_contact{
    padding: 132px 0;
}

.index_contact .left_title{
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #ffffff;
    background: #00da90;
    font-size: 20px;
    box-shadow: 4px 4px 4px #f8f8f8;
}
.index_contact .contact_left_gup{
    height: 368px;
    padding: 46px 22px 40px 22px;
    box-shadow: 4px 4px 4px #f8f8f8;
}
.index_contact .contact_left_gup p{
    font-size: 16px;
    color: #646464;
    line-height: 35px;
}
.index_contact .contact_left_gup a{
    display: block;
    width: 128px;
    height: 23px;
    text-align: center;
    border: 1px solid #666666;
    font-size: 16px;
    color: #666666;
    line-height: 20px;
    margin: 30% auto 0 auto;
}
.index_contact .contact_left_gup a:hover{
    border: 1px solid #00da90;
    color: #00da90;
}

.index_contact .right_title{
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #ffffff;
    background: #bebebe;
    font-size: 20px;
    box-shadow: 4px 4px 4px #ececec;
}

.index_contact .contact_right_gup{
    height: 368px;
    padding: 10px 22px 40px 22px;
    box-shadow: 4px 4px 4px #ececec;
}
.contact_right_gup .input_gup{
    width: 40%;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #8a8a8a;
}
.contact_right_gup .input_gup:nth-of-type(even){
    margin-bottom: 32px;
    margin-left: 18%;
}
.contact_right_gup p{
    font-size: 16px;
    color: #8a8a8a;
}
.contact_right_gup .text{
    width: 100%;
    border: none;
    height: 60px;
    border-bottom: 1px solid #8a8a8a;
    margin-top: 28px;
}
.index_contact .contact_right_gup a{
    display: block;
    width: 128px;
    height: 23px;
    text-align: center;
    border: 1px solid #666666;
    font-size: 16px;
    color: #666666;
    line-height: 20px;
    margin: 64px auto 0 auto;
}
.index_contact .contact_right_gup a:hover{
    border: 1px solid #00da90;
    color: #00da90;
}







.foot{
    padding: 90px 0 0;
    height: 340px;
    background: #474747;
}
.foot .title{
    margin-bottom: 22px;
}
.foot p{
    font-size: 12px;
    color: #cdcdcd;
}
.foot p:nth-of-type(2){
    line-height: 25px;
}
.foot p:nth-of-type(3){
    margin: 38px 0 18px 0;
}
.foot .col-md-6{
    padding: 0;
}

.foot a{
    color: #ffffff;
}
.foot ul{
    float: right;
    margin-left: 62px;
}
.foot ul:last-child{
    margin-left: 0;
}
.foot ul li{
    margin-bottom: 22px;
}


.foot ul:nth-of-type(4){
    float: right;
    margin-top: 96px;
    text-align: right;
}
.foot ul:nth-of-type(4) a{
    display: inline-block;
    margin-left: 20px;
}

/************************************************************about.html************************************************************/
.about_banner{
    height: 390px;
    background: url("../images/about/shenpumeiAbout_01.jpg") no-repeat center center;
}

.about_banner p:nth-of-type(1){
    padding-top: 190px;
    margin: auto;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
}
.about_banner p:nth-of-type(2){
    padding-top: 1%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

.about_about{
    background-color: #d6d6d6;
    height: 270px;


    text-align: center;
    padding: 78px 0 120px 0;
}
.about_about p{
    margin: auto;
    max-width: 50%;
    font-size: 14px;
    line-height: 30px;
    color: #3f3f3f;

}
.about_case .title{
    padding-top: 56px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #474747;
}

.about_case .en_title{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    color: #474747;
}

.about_img{
    margin-top: 56px;
}

.about_img div{
    padding: 0 7.5px;
    margin-bottom: 15px;
}
/************************************************************news.html************************************************************/
.news_banner{
    height: 390px;
    background: url("../images/about/shenpumeiAbout_01.jpg") no-repeat center center;
}

.news_banner p:nth-of-type(1){
    padding-top: 190px;
    margin: auto;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
}
.news_banner p:nth-of-type(2){
    padding-top: 1%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

.news_news{
    margin-top: 96px;
    margin-bottom: 100px;
}
.news_news_list{
    padding-top: 14px;
}


.news_news .year{
    text-align: center;
    font-size: 12px;
    color: #999999;
}
.news_news .day{
    text-align: center;
    font-size: 40px;
    color: #999999;
}

.news_news_list{
    position: relative;
}

.news_news_list .day{
    position: absolute;
    font-size: 34px;
    color: #ffffff;
    top: 5%;
    left: 4%;
}
.news_news_list img{
    width: 100%;
}

.news_news_list .titles{
    padding-top: 10px;
    font-size: 16px;
    color: #5c5c5c;
}

.news_news_list .hr{
    width: 30px;
    height: 3px;
    background: #3d3d3d;
}

.news_news_list .contents{
    padding-top: 2.5%;
    font-size: 14px;
    color: #878787;
    line-height: 24px;
    max-height: 84px;
}

.news_news_list .more {
    font-size: 14px;
    text-align: right;
    padding-right: 3%;
    cursor: pointer;
    margin-top: 3%;
    color: #3d3d3d;
}

.news_page{
    margin-top: 70px;
    text-align: right;
}
.news_page a{
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 10px;
    background-color: #666666;
    color: #ffffff;
    margin-left: 26px;
    cursor: pointer;
}
.news_avtive{
    background-color: #00da90!important;
}


/************************************************************product.html************************************************************/

.product_main{
    padding: 0;
}



.product_banner{
    height: 390px;
    background: url("../images/about/shenpumeiAbout_01.jpg") no-repeat center center;
}

.product_banner p:nth-of-type(1){
    padding-top: 190px;
    margin: auto;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
}

.product_banner p:nth-of-type(2){
    padding-top: 1%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}


.product_case{
    padding: 90px 0 120px;
}
.product_case .title{
    text-align: center;
    font-size: 48px;
    color: #4e4a49;
}
.product_case .en_title{
    text-align: center;
    font-size: 25px;
    color: #4e4a49;
    margin-top: 24px;
}

.product_case_content{
    max-width: 99%;
    font-size: 14px;
    color: #4e4a49;
    margin-top: 48px;
}

.product_case_img{
    padding-top: 50px;
    padding-bottom: 50px;
}

.product_imgList img{
    display: block;
    margin: auto;
}

.product_imgList p{
    text-align: center;
    margin:26px auto auto;
    font-size: 14px;
    max-width: 150px;
    color: #9f9f9f;
    line-height: 24px;
}
.product_device{
    margin-bottom: 120px;
}
.product_device .title{
    height: 48px;
    background: url("../images/product/x56.jpg") no-repeat;
    line-height: 48px;
    font-size: 20px;
    color: #ffffff;
    padding-left: 94px;

}
.product_device_list{
    text-align: center;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    color: #010101;
}

.product_device div:nth-child(n+4):nth-child(-n+5) .product_device_list{
    background-color: #dfdfdf;
}
.product_device div:nth-child(n+4):nth-child(-n+4) {
    padding-right: 2.5px;
}
.product_device div:nth-child(n+5):nth-child(-n+5) {
    padding-left: 2.5px;
}
.product_device div:nth-child(n+8):nth-child(-n+9) .product_device_list{
    background-color: #dfdfdf;
}
.product_device div:nth-child(n+8):nth-child(-n+8) {
    padding-right: 2.5px;
}
.product_device div:nth-child(n+9):nth-child(-n+9) {
    padding-left: 2.5px;
}

/************************************************************productCenter.html************************************************************/
.productCenter_main{
    padding: 0;
}



.productCenter_banner{
    height: 390px;
    background: url("../images/about/shenpumeiAbout_01.jpg") no-repeat center center;
}

.productCenter_banner p:nth-of-type(1){
    padding-top: 190px;
    margin: auto;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
}

.productCenter_banner p:nth-of-type(2){
    padding-top: 1%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}


.productCenter_imgList{
    padding: 96px 0;
    background-color: #d6d6d6;
}
.productCenter_imgList .choice{
    padding-left: 192px;
}
.productCenter_imgList .choice li{
    display: inline-block;
    height: 38px;
    line-height: 38px;
    color: #323232;
    font-size: 14px;
    background-color: #ffffff;
    text-align: center;
    margin-right:5px;
    cursor: pointer;
}

.productCenter_imgList .choice li a{
    display: block;
}

.productCenter_imgList .choice li:nth-child(1){
    width: 64px;

}
.productCenter_imgList .choice li:nth-child(n+2){
    width: 168px;
}

.choiceActive{
    color: #ffffff!important;
    background-color: #474747!important;
}

.productCenter_imgList .tab-content{
    margin-top: 60px;
}
.choice_list{
    height: 36px;
    font-size: 14px;
    color: #474747;
    text-align: center;
    line-height: 36px;
    background-color: #ffffff;
}
.tab-pane{
    padding: 0;
}
.tab-content .col-md-4{
    margin-bottom: 80px;
}
.choice_page{
    text-align: center;
}
.choice_page a {
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 10px;
    background-color: #666666;
    color: #ffffff;
    margin-left: 26px;
    cursor: pointer;
}
.choice_avtive{
    background-color: #00da90!important;
}