body{
    font-family: FeijoaWeb-Mediumx,sans-serif;
    font-size: 15px;
    line-height: 1.529411;
    color: #4d4d4d;
    background-color: #fff;
    font-size: 15px;
    padding-bottom: 200px;
    max-width: 1920px;

}
.index_main{
    width: 100%;



}

/*=======================================================top====================================================================*/
.top{
    position: fixed;
    top: 0;
    font-size: 12px;
    text-align: center;
    overflow-x: hidden;
    max-width: 1920px;
    width: 100%;
    z-index: 9999;
}
.navbar{
    border-radius: 0!important;
}
.navbar-collapse{
    overflow-y: hidden!important;
}
.carousel-control{
    width: 50%;
}
.nav{
    float: right;
}

.right:hover{
    //cursor: url("./images");
}
.index_logo{
    margin-left: 20%!important;
}
.navbar-nav > li {
    width: 100px;

}
.lx_dw{
    position: relative;
    visibility: hidden;

}

.navbar-nav li{
    position: relative;
}
.navbar-nav li:hover :after{
    content: " ";
    width: 100%;
    bottom: 0;
    height: 72px;
    position: absolute;

}
.lx_dw{
    position: absolute;
    width: 100%;


}
.nav_dw{
    transition: all .7s ease-out;
}


.lx_dw_gup{
    visibility: hidden;
    height: 0;
    transition: height .3s ease-out;
}
.nav_dw:hover .lx_dw_gup{
    visibility: visible;
    height: 38px;

}


 .lx_dw li{
    float: left;
     padding-left: 20px;
}
.lx_dw li a{
    color: #777;
}
.nav li:hover .lx_dw{
    visibility: visible;
}

.lx_dw{
    width: 600px;
    text-transform: uppercase;
}
/*=======================================================lxTwo====================================================================*/
.lxTwo{
    margin: 77px 0 0 0;
}
.lxTwo p{
    margin:0 0 1.7em;
    line-height: 1.8em;
}

.lxTwo h2{
    text-align: center;
    margin: 0 0 2.5em;
}

/*=======================================================lxThree====================================================================*/
.lxThree{
    margin: 77px 0 0 0;
    position: relative;
    padding: 0;
    background-image: url("../images/Imagen-menu.png");
    overflow-x: hidden;
}
.lxThree .row{
    padding: 0;
}
.lxThree a{
    display: block;
    height: 160px;
}
.lxThree h2{

    text-align: center;
    color: #FFFFFF;
    margin: 3em 0 2.1em;
    font-size: 21px;
    font-family: Tw-Cen-Light!important;
}
.lxThree span{
    display: block;
    font-size: 30px;
    color: #FFFFFF;
    min-width: 40%;
    text-align: center;
    margin-bottom: 8px;
    font-family: DomaineDisplayWebRegular;
}
.lxThree p{
    color: #FFFFFF;
    text-align: center;
    margin: 0 0 1.7em;
    line-height: 1.8em;
    font-family: DomaineDisplayWebRegular;
}
.lxThree .lxhr{
    border-bottom: 1px solid #fff;
    position: absolute;
    left: 50%;
    top: 31%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 7px;
    transition: border .4s cubic-bezier(.19,1,.22,1),color .4s cubic-bezier(.19,1,.22,1),width .4s cubic-bezier(.19,1,.22,1);
}
.lxThree .col-sm-6:hover{
    cursor: pointer;
}
.lxThree .col-sm-6:hover .lxhr{
    width: 50%;

}



/*=======================================================lxfour====================================================================*/
.lxfour{
    margin-top: 77px;
}

.lxfour .title{
    font-size: 21px;
    text-align: center;
    margin: 0 0 2.5em;
    font-family: Tw-Cen-Light!important;
}

.lxfour .name{
    font-size: 23px;
    font-family: DomaineDisplayWebRegular;
    margin-bottom: 5px;
    transition: color .5s cubic-bezier(.19,1,.22,1);
    color: inherit;
}

.lxfour .text{
    font-family: Tw-Cen-Light!important;
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 1em;
    text-transform: uppercase;
    color: #4d4d4d;
}
.lxfour a{
    display: block;
    margin-bottom: 30px;
}
.lxfour .text-holder{
    padding: 20px;


}
.lxfour .lxhr{
    width: 0px;
    height: 1px;
    background-color: #d8d8d8;
    transition: border 1.4s cubic-bezier(.19,1,.22,1),color 1.4s cubic-bezier(.19,1,.22,1),width 1.4s cubic-bezier(.19,1,.22,1);
}
.lxfour .col-sm-6:hover .lxhr{
    width: 100%;
    background-color: #d8d8d8;
}
.lxfour>img{
    height: 100%;
    object-fit: contain;
}
.lxline{
    margin-top: 58px;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px solid #d8d8d8;
}

/*=======================================================lxfile====================================================================*/

.file{
    margin-top: 77px;
}
.file .title:nth-of-type(1){
    margin: 0 0 2.5em;
    text-align: center;
    font-family: Tw-Cen-Light!important;
}

.file .col-sm-6 .title{
    text-align: center;
    margin: 0 0 .6em;
    font-size: 50px;
    font-family: DomaineDisplayWebRegular;
    font-weight: 300;
    line-height: 1.1;
    color: #000;
}



.file p {
    margin: 0 0 3em;
    line-height: 1.8em;
    text-align: center;
}


.file .btn-holder{
    margin-top: 3em;
}

.file .btn-holder a{
    display: block;
    width: 228px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: auto;
    color: #4d4d4d;
    border: 1px solid #4d4d4d;
}

.file .btn-holder a:hover{
    background-color: #000000;
    color: #FFFFFF;
}
/*=======================================================lxsix====================================================================*/

.lxsix{
    margin-top: 77px;
}

.lxsix .title{
    margin: 0 0 2.5em;
}
.lxsix a{
    position: relative;
    display: block;
    overflow: hidden;

}
.lxsix img{
    transition: transform 2s ease-out,-webkit-transform 2s ease-out;
    -webkit-transition: transform 2s ease-out,-webkit-transform 2s ease-out;
}
.lxsix .img-holder{
    overflow: hidden;
}


.lxsix .text-holder{
    position: absolute;
    padding: 20px;
    color: #000000;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(107%);
    -webkit-transform: translateY(107%);
    transition: all .4s cubic-bezier(.19,1,.22,1);
    -webkit-transition: all .4s cubic-bezier(.19,1,.22,1);
    background-color: #FFFFFF;
    max-width: 555px;
    margin: 0 0 5px;
    font-size: 23px;
    font-family: DomaineDisplayWebRegular;
}

.lxsix .col-sm-6:hover .text-holder{
    transform: translateY(7.4%);
}
.lxsix .col-sm-6:hover img{
    transition: transform 5s ease-out,-webkit-transform 5s ease-out;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    opacity: 0.8;
}

/*=======================================================lxseven====================================================================*/

.lxseven{
    margin-top: 77px;
}


.lxseven .title{
    margin: 0 0 2.5em;
}
.lxseven a{
    position: relative;
    display: block;
    overflow: hidden;

}
.lxseven img{
    height: auto;
    transition: transform 2s ease-out,-webkit-transform 2s ease-out;
    -webkit-transition: transform 2s ease-out,-webkit-transform 2s ease-out;
}
.lxseven .img-holder{
    overflow: hidden;
}


.lxseven .text-holder{
    position: absolute;
    padding: 20px;
    color: #000000;
    background-color: #000000;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transition: all .4s cubic-bezier(.19,1,.22,1);
    -webkit-transition: all .4s cubic-bezier(.19,1,.22,1);
    background-color: #FFFFFF;
    max-width: 555px;
    margin: 0 0 5px;
    font-size: 23px;
    font-family: DomaineDisplayWebRegular;
}
.lxseven span{
    font-size: 18px;
    font-family: DomaineDisplayWebRegular;
}
.lxseven span.data{
    font-size: 15px;
    display: block;
}
.lxseven .col-sm-6:hover .text-holder{
    transform: translateY(5%);
}
.lxseven .col-sm-6:hover img{
    transition: transform 5s ease-out,-webkit-transform 5s ease-out;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    opacity: 0.8;
}

/*=======================================================lxfoot====================================================================*/

.lxfoot{
    padding: 50px 20% 0 20%;

}

.lxfoot span{
    display: block;
    margin-bottom: 26px;
    font-size: 22px;
    letter-spacing: 1.5px;
}

.lxfoot ul li{
    margin-bottom: 15px;
    color: #4d4d4d;
}
.lxfoot ul li a{
    color: rgba(0,0,0,.5);
    font-size: 15px;
    font-family: Tw-Cen-Light;
}

.lxfoot .lxfoot_gup{
    text-align: left;
}
.lxfoot .lxfoot_gup:nth-of-type(1){
    float: left;

}
.lxfoot .lxfoot_gup:nth-of-type(2){
    display: inline-block;
    margin: auto;
}
.lxfoot .lxfoot_gup:nth-of-type(3){
    float: right;
}













/*********响应式样式************/

@media all and (max-width: 767px) {
    .top{
        max-width: 555px;
        overflow-x: hidden;
    }
    .index_logo{
        margin-left: 5%!important;
        zoom: 0.9;
    }
    .navbar-default .navbar-toggle{
        margin-right: 0;
        zoom: 0.7;
        margin-top: 19px;
    }

    .navbar-header{
        max-width: 555px;
    }
}



@media all and (max-width: 991px)  {
    .index_logo{
        margin-left: calc(50% - 87px) !important;
    }
    .navbar-default .navbar-toggle{
        margin-right: 0;
        zoom: 0.8;
        margin-top: 15px;
    }
}



@media all and (max-width: 1199px) {
    .index_logo{
        margin-left: calc(50% - 87px) !important;
    }
    .navbar-nav{
        float: none;
    }
    .navbar-nav > li{
        float: none;
    }
    .navbar-header{
        width: 100%;
    }
    .navbar-toggle{
        display: block;
    }
    .lx_dw{
        width: 100%;
        position: revert!important;
    }
    .lx_dw li{
        float: none;
    }

    .lx_dw_gup ul{
        float:left;
    }
    .nav_dw:hover .lx_dw{
        position: static;
        padding-bottom: 15px;
    }
   /* .navbar-collapse.collapse{
        display: none!important;
        visibility: hidden!important;
        height: 100%;
    }
    .nav{
        float:none;
        margin: auto;
    }
    .navbar-nav > li{
        float: none;
    }*/


}

@media all and (min-width: 1200px) {
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

}
