
body{
    font-family: FeijoaWeb-Mediumx,sans-serif;
    font-size: 15px;
    line-height: 1.529411;
    color: #4d4d4d;
    background-color: #fff;font-size: 15px;
    padding-bottom: 200px;
}
.index_main{
    width: 100%;
    height: 890px;
}

/*=======================================================lxTwo====================================================================*/
.lxTwo p{
    margin:0 0 1.7em;
    line-height: 1.8em;
}

.lxTwo h2{
    text-align: center;
    margin: 0 0 2.5em;
}

/*=======================================================lxThree====================================================================*/
.lxThree{
    margin: 77px 0 0 0;
    position: relative;
    padding: 0;
    background-image: url("../images/Imagen-menu.png");
}
.lxThree .row{
    padding: 0;
}
.lxThree a{
    display: block;
    height: 160px;
}
.lxThree h2{

    text-align: center;
    color: #FFFFFF;
    margin: 3em 0 2.1em;
    font-size: 21px;
    font-family: Tw-Cen-Light!important;
}
.lxThree span{
    display: block;
    font-size: 30px;
    color: #FFFFFF;
    min-width: 40%;
    text-align: center;
    margin-bottom: 8px;
    font-family: DomaineDisplayWebRegular;
}
.lxThree p{
    color: #FFFFFF;
    text-align: center;
    margin: 0 0 1.7em;
    line-height: 1.8em;
    font-family: DomaineDisplayWebRegular;
}
.lxThree .lxhr{
    border-bottom: 1px solid #fff;
    position: absolute;
    left: 50%;
    top: 31%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 7px;
    transition: border .4s cubic-bezier(.19,1,.22,1),color .4s cubic-bezier(.19,1,.22,1),width .4s cubic-bezier(.19,1,.22,1);
}
.lxThree .col-sm-6:hover{
    cursor: pointer;
}
.lxThree .col-sm-6:hover .lxhr{
    width: 50%;

}



/*=======================================================lxfour====================================================================*/
.lxfour{
    margin-top: 77px;
}

.lxfour .title{
    font-size: 21px;
    text-align: center;
    margin: 0 0 2.5em;
    font-family: Tw-Cen-Light!important;
}

.lxfour .name{
    font-size: 23px;
    font-family: DomaineDisplayWebRegular;
    margin-bottom: 5px;
    transition: color .5s cubic-bezier(.19,1,.22,1);
    color: inherit;
}

.lxfour .text{
    font-family: Tw-Cen-Light!important;
    font-size: 16px;
    letter-spacing: 1.5px;
    line-height: 1em;
    text-transform: uppercase;
    color: #4d4d4d;
}
.lxfour a{
    display: block;
    margin-bottom: 30px;
}
.lxfour .text-holder{
    padding: 20px;


}
.lxfour .lxhr{
    width: 0px;
    height: 1px;
    background-color: #d8d8d8;
    transition: border 1.4s cubic-bezier(.19,1,.22,1),color 1.4s cubic-bezier(.19,1,.22,1),width 1.4s cubic-bezier(.19,1,.22,1);
}
.lxfour .col-sm-6:hover .lxhr{
    width: 100%;
    background-color: #d8d8d8;
}
.lxfour>img{
    height: 100%;
    object-fit: contain;
}
.lxline{
    margin-top: 58px;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px solid #d8d8d8;
}

/*=======================================================lxfile====================================================================*/

.file{
    margin-top: 77px;
}
.file .title:nth-of-type(1){
    margin: 0 0 2.5em;
    text-align: center;
    font-family: Tw-Cen-Light!important;
}

.file .col-sm-6 .title{
    text-align: center;
    margin: 0 0 .6em;
    font-size: 50px;
    font-family: DomaineDisplayWebRegular;
    font-weight: 300;
    line-height: 1.1;
    color: #000;
}



.file p {
    margin: 0 0 3em;
    line-height: 1.8em;
    text-align: center;
}


.file .btn-holder{
    margin-top: 3em;
}

.file .btn-holder a{
    display: block;
    width: 228px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: auto;
    color: #4d4d4d;
    border: 1px solid #4d4d4d;
}

.file .btn-holder a:hover{
    background-color: #000000;
    color: #FFFFFF;
}
/*=======================================================lxsix====================================================================*/

.lxsix{
    margin-top: 77px;
}

.lxsix .title{
    margin: 0 0 2.5em;
}
.lxsix a{
    position: relative;
    display: block;
    overflow: hidden;

}
.lxsix img{
    transition: transform 2s ease-out,-webkit-transform 2s ease-out;
    -webkit-transition: transform 2s ease-out,-webkit-transform 2s ease-out;
}
.lxsix .img-holder{
    overflow: hidden;
}


.lxsix .text-holder{
    position: absolute;
    padding: 20px;
    color: #000000;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transition: all .4s cubic-bezier(.19,1,.22,1);
    -webkit-transition: all .4s cubic-bezier(.19,1,.22,1);
    background-color: #FFFFFF;
    max-width: 555px;
    margin: 0 0 5px;
    font-size: 23px;
    font-family: DomaineDisplayWebRegular;
}

.lxsix .col-sm-6:hover .text-holder{
    transform: translateY(5%);
}
.lxsix .col-sm-6:hover img{
    transition: transform 5s ease-out,-webkit-transform 5s ease-out;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    opacity: 0.8;
}

/*=======================================================lxseven====================================================================*/

.lxseven{
    margin-top: 77px;
}


.lxseven .title{
    margin: 0 0 2.5em;
}
.lxseven a{
    position: relative;
    display: block;
    overflow: hidden;

}
.lxseven img{
    height: auto;
    transition: transform 2s ease-out,-webkit-transform 2s ease-out;
    -webkit-transition: transform 2s ease-out,-webkit-transform 2s ease-out;
}
.lxseven .img-holder{
    overflow: hidden;
}


.lxseven .text-holder{
    position: absolute;
    padding: 20px;
    color: #000000;
    background-color: #000000;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transition: all .4s cubic-bezier(.19,1,.22,1);
    -webkit-transition: all .4s cubic-bezier(.19,1,.22,1);
    background-color: #FFFFFF;
    max-width: 555px;
    margin: 0 0 5px;
    font-size: 23px;
    font-family: DomaineDisplayWebRegular;
}
.lxseven span{
    font-size: 18px;
    font-family: DomaineDisplayWebRegular;
}
.lxseven span.data{
    font-size: 15px;
    display: block;
}
.lxseven .col-sm-6:hover .text-holder{
    transform: translateY(5%);
}
.lxseven .col-sm-6:hover img{
    transition: transform 5s ease-out,-webkit-transform 5s ease-out;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    opacity: 0.8;
}

/*=======================================================lxfoot====================================================================*/

.lxfoot{
    padding: 50px 0;
}

.lxfoot span{
    display: block;
    margin-bottom: 26px;
    font-size: 22px;
    letter-spacing: 1.5px;
}

.lxfoot ul li{
    margin-bottom: 15px;
    color: #4d4d4d;
}
.lxfoot ul li a{
    color: rgba(0,0,0,.5);
    font-size: 15px;
    font-family: Tw-Cen-Light;
}

.lxfoot_gup{
    float: left;
    margin-left: 5%;
}
.lxfoot_gup:nth-child(n+2){
    float: left;
    margin-left: 30%;
}
